<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captura de Alchol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style media="screen">
        html, body {
            height: 100%
        }
        body {
            display: flex;
            align-items: center;
            background: #34495e;
        }
    </style>
    {{!-- <canvas id="myChart" width="400" height="120"></canvas> --}}
</head>
<body>

    <div class="card mb-3">
        <div class="card-body">
            <h1 id="Alcohol" class="display-l p-4"></h1>
          <p class="card-text">Estas son medidas de Alcohol, tomadas y leídas en miligramos sobre litro</p>
          <p class="card-text"><small class="text-muted">Se inicia la alerta cuando excede los 10.5 mg/L</small></p>
          <p class="card-text"><small class="text-muted">En caso de desconectarse, envía alerta de inactividad</small></p>
        </div>
    </div>    

     {{!-- <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="card">
                <h1 id="Alcohol" class="display-l p-4"></h1>
            </div>
        </div>
    </div>  --}}

    {{!-- <canvas id="myChart" width="400" height="400"></canvas> --}}
    
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script> --> --}}
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/captura.js" charset="utf-8"></script>
    
</body>
</html>