{{!-- Vista del sistema después de estar logeado  --}}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
  
    <input type="checkbox" id="check">
    <!--header área de inicio-->
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Sistema <span>Detca</span></h3>
        </div>
        <div class="right_area">
            <a href="/logout" class="logout_btn">Cerrar sesion</a></li>
        </div>
    </header>
    <!--header área fin-->
    <!--sidebar comienzo-->
    <div class="sidebar">
        <center>
            {{!-- //Condición para el logeo Administrador --}}
            {{#if user.isAdmin }} 
            <h3>Bienvenido Admin </h4>
            {{else}}
                
             {{!-- //Condición para el logeo de usuario    --}}
            <h3>Bienvenido {{user.nombre}}</h3> 
            {{/if}}
            
        </center>
        {{!-- //Redirección a la vista de bootstrap arduino --}}
        <a href="/capturas"><i class="fas fa-desktop"></i><span>Datos</span></a> 
        {{#if user.isAdmin}} <!--- Si es Admin se mostrará esta vista, de lo contrario, no -->
        <a href="/usuarios"><i class="fas fa-desktop"></i><span>Usuarios</span></a>
        {{/if}}
        
    </div>
    <!--sidebar fin-->

    <section class="content" style="position: relative; top:11rem; left:0px;">

        <canvas id='myChart' width="100" height="40"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <!--llamando websockets -->
        <script>
            const socket = io();

            let counter = 0;
            socket.on("arduino:data", function (dataSerial) {
                console.log(dataSerial);
                myChart.data.labels.push(counter);
                myChart.data.datasets.forEach(dataset => {
                    dataset.data.push(dataSerial.value)
                });
                counter++;
                myChart.update();
            });

            //Gráficos en tiempo real librería chartjs
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, { //Nuevo Gráfico

                type: 'line',
                data: {
                    labels: ['Fecha'],
                    datasets: [{
                        label: 'Estadisticas',
                        backgroundColor: 'rgb(66, 134, 244, 0.5)',
                        borderColor : 'rgb(166, 134, 244, 0.5)',
                        borderWidth : 2, 
                        fill : false
                    }],
                },
            options: {
        scales: {
            xAxes: [{
                time: {
                    displayFormats: {
                        quarter: 'MMM YYYY'
                    }
                }
            }]
        }
    }
            });
        </script>
    </section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>